// Primary colors
$primary-white: #f8f8ff; // Ghost white
$primary-black: #36454f; // Characoal

/* SCSS RGB */
$indigo-dye: rgba(8, 75, 131, 1);
$brown-sugar: rgba(190, 110, 70, 1);
$mint-green: rgba(187, 230, 228, 1);
$antiflash-white: rgba(240, 246, 246, 1);
