// Responsiveness
@import './breakpoints.scss';

// Colors
@import './colors.scss';

// Fonts
@import './fonts.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary-black;
}

// Fade transition re-usable
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


// Remove manual increment buttons
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    appearance: textfield;
}